.banners{
	position: relative
}

.banner-text{
	position:absolute;
	top: 110px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

.banner-under{
	position:absolute;
	top: 220px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

.banner-button{
	position:absolute;
	top: 260px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

nav a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

nav a:hover{
	color: #ad96c7;
}

.fancy{
font-family: 'Dancing Script', cursive;
}

.center{
text-align: center;
}

.white{
	color: #fff;
}

.sign{
	font-family: 'Raleway', sans-serif;
}

.green{
	color: #87b8bd;
}

.purple{
	color: #ad96c7;
}

header{
	background-color: #d5ccdf;
}

label{
	display: block;
	cursor: pointer;
}

input + label{
	display: inline;
}

.submit button{

	font-size: 1.6rem;
	color: #87b8bd;
	background-color: #fff;
}

.submit{
	padding-top: 1rem;
}

@media only screen and (min-width: 38em) {

.banner-text{
		top: 140px;
}

.banner-under{
		top:280px;
}

.banner-button{
		top: 360px;
	}

}


@media only screen and (min-width: 60em) {

.banner-text{
		top: 300px;
}

.banner-under{
		top:380px;
}

.banner-button{
		top: 460px;
}
}
