.banners{
	position: relative
}

.banner-text{
	position:absolute;
	top: 110px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

.banner-under{
	position:absolute;
	top: 220px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

.banner-button{
	position:absolute;
	top: 260px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

nav{
	font-family: 'Raleway', sans-serif;
}

.fancy{
font-family: 'Dancing Script', cursive;
}

.center{
text-align: center;
}

.white{
	color: #fff;
}

.sign{
	font-family: 'Raleway', sans-serif;
}

.green{
	color: #87b8bd;
}

header{
	background-color: #d5ccdf;
}

label{
	display: block;
	cursor: pointer;
}

input + label{
	display: inline;
}

.submit button{

	font-size: 1.6rem;
	color: #87b8bd;
}
